extends layout.pug 
block main
    h1 Something unexpected happened.
    p
    | Please make sure that you typed the URL, correctly and didn't input something wrongly.
    | Otherwise please write an issue in the Github repo.
    ul.nodec
        li
            a(href="https://github.com/ChinoCodeDemon/web-luna", class="button") GitHub Repo
        li 
            a(href="/", class="button") Back to index page. 